# Auto loan interest rate imputation

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import plotly.io as pio
pio.templates.default = "plotly_white"

In [3]:
# Import the SCF_2022 dataset class
from policyengine_us_data.datasets.scf.scf import SCF_2022

# Initialize and load the SCF dataset
# This will automatically download and process the data if needed
print("Loading SCF 2022 dataset...")
scf_dataset = SCF_2022()
scf_dataset.generate()
scf_data = scf_dataset.load()

# Show basic information about the dataset
print(f"\nSCF 2022 Dataset Shape: {scf_data.shape}")
print(f"Dataset columns: {len(scf_data.columns)}")

Loading SCF 2022 dataset...
SCF dataset for 2022 has been generated.

SCF 2022 Dataset Shape: (22975, 358)
Dataset columns: 358

In [5]:
# Display the first few rows of the dataset
scf_data.head(20)

,yy1,y1,wgt,hhsex,age,agecl,educ,edcl,married,kids,...,inccat,assetcat,ninccat,ninc2cat,nwpctlecat,incpctlecat,nincpctlecat,incqrtcat,nincqrtcat,year
0,1,11,3027.956120,2,70,5,9,3,2,2,...,2,4,2,1,8,3,3,2,1,2022
1,1,12,3054.900065,2,70,5,9,3,2,2,...,2,5,2,1,8,3,3,2,1,2022
2,1,13,3163.637766,2,70,5,9,3,2,2,...,2,4,2,1,8,3,3,1,1,2022
3,1,14,3166.228463,2,70,5,9,3,2,2,...,2,4,1,1,6,3,2,1,1,2022
4,1,15,3235.624715,2,70,5,9,3,2,2,...,2,4,2,1,8,3,3,1,1,2022
5,2,21,236.634754,1,46,3,12,4,2,0,...,5,5,5,2,8,9,9,4,4,2022
6,2,22,245.848398,1,46,3,12,4,2,0,...,5,5,5,2,8,9,9,4,4,2022
7,2,23,253.103477,1,46,3,12,4,2,0,...,5,5,5,2,8,9,9,4,4,2022
8,2,24,252.908118,1,46,3,12,4,2,0,...,5,5,5,2,8,9,9,4,4,2022
9,2,25,253.811312,1,46,3,12,4,2,0,...,5,5,5,2,8,9,9,4,4,2022
10,3,31,678.869307,1,68,5,14,4,1,0,...,6,6,6,3,12,11,11,4,4,2022
11,3,32,671.832370,1,68,5,14,4,1,0,...,6,6,6,3,12,11,11,4,4,2022
12,3,33,619.953349,1,68,5,14,4,1,0,...,6,6,6,3,12,11,11,4,4,2022
13,3,34,691.513595,1,68,5,14,4,1,0,...,6,6,6,3,12,11,11,4,4,2022
14,3,35,671.772916,1,68,5,14,4,1,0,...,6,6,6,3,12,11,11,4,4,2022
15,4,41,621.948854,2,74,5,12,4,2,0,...,5,6,4,2,10,9,8,4,4,2022
16,4,42,653.291176,2,74,5,12,4,2,0,...,4,5,4,2,10,8,8,4,4,2022
17,4,43,597.169074,2,74,5,12,4,2,0,...,4,5,4,2,10,8,8,4,4,2022
18,4,44,611.892390,2,74,5,12,4,2,0,...,4,6,4,2,10,8,8,4,4,2022
19,4,45,612.069348,2,74,5,12,4,2,0,...,4,5,4,2,10,8,8,4,4,2022

In [ ]:
# Preprocess SCF to follow PolicyEngine's variable naming conventions

# Auto loan interest imputation